#footer1
  background: #393939
  padding: 10px 0px
.w
  overflow: hidden
  div
    float: left
  .footer_message
    padding: 10px 0px
    width: 900px
    p,a
      width: 300px
      float: left
      .icon-icon32206
        color: #ff6633
      .icon-cmstubiaozitihua15
        color: #17EF5F
      .icon-dizhi
        color: #1795EF
      .iconfont
        font-size: 28px
      span
        display: block
        text-align: center
        height: 20px
        line-height: 20px
        font-size: 16px
        color: white
        margin-top: 12px
  .manifesto
    width: 280px
    text-align: center
    line-height: 100px
    font-size: 16px
    color: #ff6633
