#login_content {
  min-width: 1190px;
  min-height: 721px;
  background: url("../images/login.jpg") center top no-repeat; }
  #login_content .bg {
    width: 1190px;
    margin: 0 auto;
    height: 500px;
    position: relative; }
    #login_content .bg .login {
      position: absolute;
      left: 800px;
      top: 105px;
      background: white;
      width: 370px;
      height: 370px; }
      #login_content .bg .login .login-select {
        height: 50px; }
        #login_content .bg .login .login-select span {
          float: left;
          box-sizing: border-box;
          width: 185px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          font-size: 18px;
          cursor: pointer; }
        #login_content .bg .login .login-select .login2 {
          background: #F3F4F6;
          border-left: 1px solid #e4e6e9;
          border-bottom: 1px solid #e4e6e9; }
      #login_content .bg .login #login {
        padding: 20px;
        overflow: hidden; }
        #login_content .bg .login #login .mobile, #login_content .bg .login #login .password1 {
          width: 100%;
          height: 38px;
          border: 1px solid #ebebeb;
          margin-bottom: 20px; }
          #login_content .bg .login #login .mobile span, #login_content .bg .login #login .password1 span {
            float: left;
            width: 40px;
            height: 38px;
            line-height: 38px;
            text-align: center; }
          #login_content .bg .login #login .mobile input:-webkit-autofill, #login_content .bg .login #login .password1 input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
            -webkit-text-fill-color: black !important; }
          #login_content .bg .login #login .mobile input, #login_content .bg .login #login .password1 input {
            width: 240px;
            float: left;
            padding-left: 15px;
            height: 38px;
            line-height: 38px;
            font-size: 14px;
            color: #666; }
        #login_content .bg .login #login .password2 {
          display: none;
          overflow: hidden; }
          #login_content .bg .login #login .password2 div {
            width: 205px;
            height: 38px;
            border: 1px solid #ebebeb;
            margin-bottom: 20px;
            float: left; }
            #login_content .bg .login #login .password2 div span {
              float: left;
              width: 40px;
              height: 38px;
              line-height: 38px;
              text-align: center; }
            #login_content .bg .login #login .password2 div input {
              width: 140px;
              float: left;
              padding-left: 15px;
              height: 38px;
              line-height: 38px;
              font-size: 14px;
              color: #666666; }
          #login_content .bg .login #login .password2 button {
            float: left;
            height: 40px;
            width: 113px;
            margin-left: 10px;
            line-height: 40px;
            color: #FF6633;
            background: #FEF0E6; }
        #login_content .bg .login #login .forget {
          display: block;
          font-size: 14px;
          margin-left: 235px;
          color: #53A3E8;
          margin-bottom: 15px; }
        #login_content .bg .login #login .denglu {
          height: 50px;
          width: 100%;
          border-radius: 5px;
          background: #FF6633;
          color: white;
          font-size: 18px;
          margin-bottom: 15px; }
        #login_content .bg .login #login .register {
          height: 50px;
          width: 100%;
          border-radius: 5px;
          color: #323232;
          background: #fafbfc;
          font-size: 14px;
          border: 1px solid #e9ebee; }
          #login_content .bg .login #login .register a {
            color: #53A3E8;
            font-size: 14px; }

/*# sourceMappingURL=login.css.map */
